server/src/main/resources/DobleScreen_modified.xsd

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
	<xs:complexType name="admin-data-type">
		<xs:sequence></xs:sequence>
		
		<xs:attribute name="copies" type="xs:string" />

		<xs:attribute name="top_sn" type="xs:string" />

		<xs:attribute name="tested-by" type="xs:string" />

		<xs:attribute name="retest-date-utc" type="xs:string" />

		<xs:attribute name="check-date-utc" type="xs:string" />

		<xs:attribute name="checked-by" type="xs:string" />

		<xs:attribute name="wo" type="xs:string" />

		<xs:attribute name="bottom-sn" type="xs:string" />

		<xs:attribute name="po-num" type="xs:string" />

		<xs:attribute name="insurance-book" type="xs:string" />

		<xs:attribute name="travel-time" type="xs:string" />

		<xs:attribute name="duration" type="xs:string" />

		<xs:attribute name="last-date-utc" type="xs:string" />

		<xs:attribute name="last-sheet" type="xs:string" />

		<xs:attribute name="test-set-type" type="xs:string" />

		<xs:attribute name="reason" type="xs:string" />

		<xs:attribute name="reason-enum" type="xs:string" />

		<xs:attribute name="sheet-num" type="xs:string" />

		<xs:attribute name="crew-size" type="xs:string" />

		<xs:attribute name="counter-1" type="xs:string" />

		<xs:attribute name="counter-2" type="xs:string" />

		<xs:attribute name="counter-3" type="xs:string" />

		<xs:attribute name="resonator-counter" type="xs:string" />

		<xs:attribute name="resonator-date-tested-utc"

			type="xs:string" />

		<xs:attribute name="factory-calibration-date"

			type="xs:string" />

		<xs:attribute name="factory-recalibration-date"

			type="xs:string" />

		<xs:attribute name="field-calibration-date"

			type="xs:string" />

		<xs:attribute name="LineFrequency" type="xs:string" />

		<xs:attribute name="firmware-version" type="xs:string" />

		<xs:attribute name="dta-version" type="xs:string" />
	</xs:complexType>
	
	<xs:complexType name="transformer-template-type">
		<xs:sequence>
			<xs:element name="bushing-nameplates">
				<xs:complexType>
					<xs:sequence>
						<xs:element maxOccurs="unbounded" name="bushing-nameplate">
							<xs:complexType>
								<xs:sequence>
									<xs:element name="bushing-dimensions">
										<xs:complexType>
											<xs:sequence></xs:sequence>
											<xs:attribute name="length-units" type="xs:string" />
										</xs:complexType>
									</xs:element>
									<xs:element type="xs:string" name="bushing-voltage" />
								</xs:sequence>
								<xs:attribute name="id" type="xs:string" />
								<xs:attribute name="autogenerated" type="xs:string" />
								<xs:attribute name="year-mfg" type="xs:string" />
								<xs:attribute name="tap" type="xs:string" />
								<xs:attribute name="style" type="xs:string" />
								<xs:attribute name="drwg" type="xs:string" />
								<xs:attribute name="other" type="xs:string" />
								<xs:attribute name="so-num" type="xs:string" />
								<xs:attribute name="bushing-serial-num" type="xs:string" />
								<xs:attribute name="termination-id" type="xs:string" />
								<xs:attribute name="mfr" type="xs:string" />
								<xs:attribute name="type" type="xs:string" />
								<xs:attribute name="location" type="xs:string" />
								<xs:attribute name="class" type="xs:string" />
								<xs:attribute name="catalog-num" type="xs:string" />
								<xs:attribute name="c1-pf" type="xs:string" />
								<xs:attribute name="c1-cap" type="xs:string" />
								<xs:attribute name="c2-pf" type="xs:string" />
								<xs:attribute name="c2-cap" type="xs:string" />
								<xs:attribute name="kV" type="xs:string" />
								<xs:attribute name="amps" type="xs:string" />
								<xs:attribute name="BIL" type="xs:string" />
								<xs:attribute name="status" type="xs:string" />
								<xs:attribute name="replacement-date-utc" type="xs:string" />
							</xs:complexType>
						</xs:element>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			 <xs:element name="arrester-nameplates">
                                <xs:complexType>
                                    <xs:sequence>
                                        <xs:element maxOccurs="unbounded" name="arrester-nameplate">
                                            <xs:complexType>
                                                <xs:sequence></xs:sequence>
                                                <xs:attribute name="id" type="xs:string"/>
                                                <xs:attribute name="sa-serial-num" type="xs:string"/>
                                                <xs:attribute name="mfr" type="xs:string"/>
                                                <xs:attribute name="overall-catalog" type="xs:string"/>
                                                <xs:attribute name="unit-catalog" type="xs:string"/>
                                                <xs:attribute name="type" type="xs:string"/>
                                                <xs:attribute name="misc-data" type="xs:string"/>
                                                <xs:attribute name="stack-order" type="xs:string"/>
                                                <xs:attribute name="rated-kV" type="xs:string"/>
                                                <xs:attribute name="test-kV" type="xs:string"/>
                                                <xs:attribute name="status" type="xs:string"/>
                                                <xs:attribute name="replacement-date-utc" type="xs:string"/>
                                            </xs:complexType>
                                        </xs:element>
                                    </xs:sequence>
                                </xs:complexType>
                            </xs:element>
			<xs:element type="xs:string" name="winding-properties" />
			<xs:element name="HVWindingDetails">
				<xs:complexType>
					<xs:sequence></xs:sequence>
					<xs:attribute name="Winding" type="xs:string" />
					<xs:attribute name="WindingType" type="xs:string" />
					<xs:attribute name="WindingSubType" type="xs:string" />
					<xs:attribute name="IECVector" type="xs:string" />
					<xs:attribute name="TerminalRotation" type="xs:string" />
				</xs:complexType>
			</xs:element>
			<xs:element name="LVWindingDetails">
				<xs:complexType>
					<xs:sequence></xs:sequence>
					<xs:attribute name="Winding" type="xs:string" />
					<xs:attribute name="WindingType" type="xs:string" />
					<xs:attribute name="WindingSubType" type="xs:string" />
					<xs:attribute name="IECVector" type="xs:string" />
					<xs:attribute name="TerminalRotation" type="xs:string" />
				</xs:complexType>
			</xs:element>
			<xs:element name="TVWindingDetails">
				<xs:complexType>
					<xs:sequence></xs:sequence>
					<xs:attribute name="Winding" type="xs:string" />
					<xs:attribute name="WindingType" type="xs:string" />
					<xs:attribute name="WindingSubType" type="xs:string" />
					<xs:attribute name="IECVector" type="xs:string" />
					<xs:attribute name="TerminalRotation" type="xs:string" />
				</xs:complexType>
			</xs:element>
			<xs:element name="leakage-reactance-nameplates">
                                <xs:complexType>
                                    <xs:sequence>
                                        <xs:element name="leakage-reactance-nameplate">
                                            <xs:complexType>
                                                <xs:sequence>
                                                    <xs:element name="lr-fields">
                                                        <xs:complexType>
                                                            <xs:sequence></xs:sequence>
                                                            <xs:attribute name="detc-position" type="xs:string"/>
                                                            <xs:attribute name="ltc-position" type="xs:string"/>
                                                            <xs:attribute name="base-MVA" type="xs:string"/>
                                                            <xs:attribute name="base-kV" type="xs:string"/>
                                                            <xs:attribute name="impedance" type="xs:string"/>
                                                        </xs:complexType>
                                                    </xs:element>
                                                    <xs:element name="tc-references">
                                                        <xs:complexType>
                                                            <xs:sequence>
                                                                <xs:element name="tc-reference-set">
                                                                    <xs:complexType>
                                                                        <xs:sequence>
                                                                            <xs:element name="tc-reference">
                                                                                <xs:complexType>
                                                                                    <xs:sequence></xs:sequence>
                                                                                    <xs:attribute name="tapchanger-id" type="xs:string"/>
                                                                                    <xs:attribute name="tapchanger-position" type="xs:string"/>
                                                                                    <xs:attribute name="tapchanger-type" type="xs:string"/>
                                                                                </xs:complexType>
                                                                            </xs:element>
                                                                        </xs:sequence>
                                                                    </xs:complexType>
                                                                </xs:element>
                                                            </xs:sequence>
                                                        </xs:complexType>
                                                    </xs:element>
                                                </xs:sequence>
                                                <xs:attribute name="id" type="xs:string"/>
                                                <xs:attribute name="detc-id" type="xs:string"/>
                                                <xs:attribute name="ltc-id" type="xs:string"/>
                                            </xs:complexType>
                                        </xs:element>
                                    </xs:sequence>
                                </xs:complexType>
                            </xs:element>
			<xs:element name="tapchanger-nameplates">
				<xs:complexType>
					<xs:sequence>
						<xs:element maxOccurs="unbounded" name="tapchanger-nameplate">
							<xs:complexType>
								<xs:sequence>
									<xs:element type="xs:string" name="detc-connections" />
								</xs:sequence>
								<xs:attribute name="id" type="xs:string" />
								<xs:attribute name="line-id" type="xs:string" />
								<xs:attribute name="tapchanger-type" type="xs:string" />
								<xs:attribute name="winding" type="xs:string" />
								<xs:attribute name="description" type="xs:string" />
								<xs:attribute name="mfr" type="xs:string" />
								<xs:attribute name="type" type="xs:string" />
								<xs:attribute name="tapchanger-serial-num" type="xs:string" />
								<xs:attribute name="int-steps" type="xs:string" />
								<xs:attribute name="steps-up" type="xs:string" />
								<xs:attribute name="steps-down" type="xs:string" />
								<xs:attribute name="neutral-positions" type="xs:string" />
								<xs:attribute name="oil-volume" type="xs:string" />
								<xs:attribute name="naming-preference" type="xs:string" />
								<xs:attribute name="pulse-duration" type="xs:string" />
								<xs:attribute name="delay-after-movement" type="xs:string" />
							</xs:complexType>
						</xs:element>
					</xs:sequence>
					<xs:attribute name="no-tapchanger-confirmation" type="xs:string" />
					<xs:attribute name="use-only-custom-tap-positions" type="xs:string" />
				</xs:complexType>
			</xs:element>
			<xs:element type="xs:string" name="leakage-reactance-HT-nameplates" />
			<xs:element type="xs:string" name="leakage-reactance-LT-nameplates" />
			<xs:element type="xs:string" name="physical-layout" />
		</xs:sequence>
		<xs:attribute name="year-mfg" type="xs:string" />
		<xs:attribute name="apparatus-type" type="xs:string" />
		<xs:attribute name="mfr" type="xs:string" />
		<xs:attribute name="mfr-location" type="xs:string" />
		<xs:attribute name="serial-num" type="xs:string" />
		<xs:attribute name="special-id" type="xs:string" />
		<xs:attribute name="config" type="xs:string" />
		<xs:attribute name="class" type="xs:string" />
		<xs:attribute name="coolant" type="xs:string" />
		<xs:attribute name="tanktype" type="xs:string" />
		<xs:attribute name="weight-units" type="xs:string" />
		<xs:attribute name="phases" type="xs:string" />
		<xs:attribute name="volume-units" type="xs:string" />
		<xs:attribute name="oil-volume" type="xs:string" />
		<xs:attribute name="Va-0" type="xs:string" />
		<xs:attribute name="Va-1" type="xs:string" />
		<xs:attribute name="Va-2" type="xs:string" />
		<xs:attribute name="BIL" type="xs:string" />
		<xs:attribute name="weight" type="xs:string" />
		<xs:attribute name="kV-0" type="xs:string" />
		<xs:attribute name="kV-1" type="xs:string" />
		<xs:attribute name="kV-2" type="xs:string" />
	</xs:complexType>
	
	<xs:complexType name="transformer-type">
		<xs:sequence>
			<xs:element name="admin-data" type="admin-data-type" />
			<xs:element name="test-admin-data">
				<xs:complexType>
					<xs:sequence>
						<xs:element maxOccurs="unbounded" name="admin-data" type="admin-data-type"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			
			<xs:element name="test-conditions">
				<xs:complexType>
					<xs:sequence></xs:sequence>
					<xs:attribute name="weather" type="xs:string" />
					<xs:attribute name="internal-temp" type="xs:string" />
					<xs:attribute name="air-temp" type="xs:string" />
					<xs:attribute name="humidity" type="xs:string" />
					<xs:attribute name="have-overall-cf" type="xs:string" />
					<xs:attribute name="overall-cf" type="xs:string" />
				</xs:complexType>
			</xs:element>
			<xs:element name="m7-bushing-test-set">
				<xs:complexType>
					<xs:sequence>
						<xs:element maxOccurs="unbounded" name="m7-bushing-test">
							<xs:complexType>
								<xs:sequence>
									<xs:element name="bushing-test-results-set">
										<xs:complexType>
											<xs:sequence>
												<xs:element maxOccurs="unbounded" name="bushing-test-results">
													<xs:complexType>
														<xs:sequence>
															<xs:element name="iwc-data">
																<xs:complexType>
																	<xs:sequence></xs:sequence>
																	<xs:attribute name="m-mtrL" type="xs:string" />
																	<xs:attribute name="w-mtrL" type="xs:string" />
																	<xs:attribute name="p-mtrL" type="xs:string" />
																	<xs:attribute name="m-mtrR" type="xs:string" />
																	<xs:attribute name="w-mtrR" type="xs:string" />
																	<xs:attribute name="p-mtrR" type="xs:string" />
																</xs:complexType>
															</xs:element>
														</xs:sequence>
														<xs:attribute name="date-tested-utc" type="xs:string" />
														<xs:attribute name="rating-expert-system" type="xs:string" />
														<xs:attribute name="rating-tester" type="xs:string" />
														<xs:attribute name="message-expert-system" type="xs:string" />
														<xs:attribute name="requested-test-kV" type="xs:string" />
														<xs:attribute name="test-kV" type="xs:string" />
														<xs:attribute name="test-circuit" type="xs:string" />
														<xs:attribute name="mA" type="xs:string" />
														<xs:attribute name="watts" type="xs:string" />
														<xs:attribute name="measured-cap" type="xs:string" />
														<xs:attribute name="pfm" type="xs:string" />
														<xs:attribute name="pfc" type="xs:string" />
														<xs:attribute name="correction-factor" type="xs:string" />
														<xs:attribute name="bushing-insulation" type="xs:string" />
													</xs:complexType>
												</xs:element>
											</xs:sequence>
										</xs:complexType>
									</xs:element>
								</xs:sequence>
								<xs:attribute name="bushing-id" type="xs:string" />
							</xs:complexType>
						</xs:element>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="exciting-current-test-set">
				<xs:complexType>
					<xs:sequence>
						<xs:element maxOccurs="unbounded" name="exciting-current-test">
							<xs:complexType>
								<xs:sequence>
									<xs:element name="iwc-data">
										<xs:complexType>
											<xs:sequence></xs:sequence>
											<xs:attribute name="m-mtrL" type="xs:string" />
											<xs:attribute name="w-mtrL" type="xs:string" />
											<xs:attribute name="p-mtrL" type="xs:string" />
											<xs:attribute name="m-mtrR" type="xs:string" />
											<xs:attribute name="w-mtrR" type="xs:string" />
											<xs:attribute name="p-mtrR" type="xs:string" />
										</xs:complexType>
									</xs:element>
									<xs:element maxOccurs="unbounded" name="linefreq-test-voltages">
										<xs:complexType>
											<xs:sequence>
												<xs:element type="xs:integer" name="m_dHighFreqkV" />
												<xs:element type="xs:integer" name="m_dLowFreqkV" />
											</xs:sequence>
										</xs:complexType>
									</xs:element>
									<xs:element name="exciting-current-fields">
										<xs:complexType>
											<xs:sequence></xs:sequence>
											<xs:attribute name="date-tested-utc" type="xs:string" />
											<xs:attribute name="rating-expert-system" type="xs:string" />
											<xs:attribute name="rating-tester" type="xs:string" />
											<xs:attribute name="message-expert-system" type="xs:string" />
											<xs:attribute name="test-kV" type="xs:string" />
											<xs:attribute name="test-circuit-1" type="xs:string" />
											<xs:attribute name="test-circuit-2" type="xs:string" />
											<xs:attribute name="test-circuit-3" type="xs:string" />
											<xs:attribute name="mA-1" type="xs:string" />
											<xs:attribute name="mA-2" type="xs:string" />
											<xs:attribute name="mA-3" type="xs:string" />
											<xs:attribute name="watts-1" type="xs:string" />
											<xs:attribute name="watts-2" type="xs:string" />
											<xs:attribute name="watts-3" type="xs:string" />
											<xs:attribute name="actualkv-1" type="xs:string" />
											<xs:attribute name="actualkv-2" type="xs:string" />
											<xs:attribute name="actualkv-3" type="xs:string" />
											<xs:attribute name="l-or-c-1" type="xs:string" />
											<xs:attribute name="l-or-c-2" type="xs:string" />
											<xs:attribute name="l-or-c-3" type="xs:string" />
											<xs:attribute name="FrequencyPCT1" type="xs:string" />
											<xs:attribute name="FrequencyPCT2" type="xs:string" />
											<xs:attribute name="FrequencyPCT3" type="xs:string" />
											<xs:attribute name="winding-id" type="xs:string" />
											<xs:attribute name="winding-tap" type="xs:string" />
										</xs:complexType>
									</xs:element>
									<xs:element name="tc-references" minOccurs="0" maxOccurs="unbounded">
										<xs:complexType>
											<xs:sequence>
												<xs:element name="tc-reference-set">
													<xs:complexType>
														<xs:sequence>
															<xs:element maxOccurs="unbounded" name="tc-reference">
																<xs:complexType>
																	<xs:sequence></xs:sequence>
																	<xs:attribute name="tapchanger-id" type="xs:string" />
																	<xs:attribute name="tapchanger-position" type="xs:string" />
																	<xs:attribute name="tapchanger-type" type="xs:string" />
																</xs:complexType>
															</xs:element>
														</xs:sequence>
													</xs:complexType>
												</xs:element>
											</xs:sequence>
										</xs:complexType>
									</xs:element>
								</xs:sequence>
								<xs:attribute name="detc" type="xs:string" />
								<xs:attribute name="ltc" type="xs:string" />
								<xs:attribute name="include-in-plot" type="xs:string" />
								<xs:attribute name="detc-id" type="xs:string" />
								<xs:attribute name="ltc-id" type="xs:string" />
							</xs:complexType>
						</xs:element>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="bushing-designations">
				<xs:complexType>
					<xs:sequence>
						<xs:element maxOccurs="unbounded" name="bushing">
							<xs:complexType>
								<xs:sequence></xs:sequence>
								<xs:attribute name="id" type="xs:string" />
								<xs:attribute name="serial-number" type="xs:string" />
								<xs:attribute name="designation" type="xs:string" />
								<xs:attribute name="termination-phase" type="xs:string" />
								<xs:attribute name="status" type="xs:string" />
							</xs:complexType>
						</xs:element>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="arresters">
                                                        <xs:complexType>
                                                            <xs:sequence>
                                                                <xs:element maxOccurs="unbounded" name="arrester">
                                                                    <xs:complexType>
                                                                        <xs:sequence></xs:sequence>
                                                                        <xs:attribute name="id" type="xs:string"/>
                                                                        <xs:attribute name="sa-serial-num" type="xs:string"/>
                                                                        <xs:attribute name="sa-location" type="xs:string"/>
                                                                        <xs:attribute name="sa-stackorder" type="xs:string"/>
                                                                        <xs:attribute name="status" type="xs:string"/>
                                                                    </xs:complexType>
                                                                </xs:element>
                                                            </xs:sequence>
                                                        </xs:complexType>
                                                    </xs:element>
			<xs:element name="surge-arrester-test-set">
                                                        <xs:complexType>
                                                            <xs:sequence>
                                                                <xs:element maxOccurs="unbounded" name="surge-arrester-test">
                                                                    <xs:complexType>
                                                                        <xs:sequence>
                                                                            <xs:element name="iwc-data">
                                                                                <xs:complexType>
                                                                                    <xs:sequence></xs:sequence>
                                                                                    <xs:attribute name="m-mtrL" type="xs:string"/>
                                                                                    <xs:attribute name="w-mtrL" type="xs:string"/>
                                                                                    <xs:attribute name="p-mtrL" type="xs:string"/>
                                                                                    <xs:attribute name="m-mtrR" type="xs:string"/>
                                                                                    <xs:attribute name="w-mtrR" type="xs:string"/>
                                                                                    <xs:attribute name="p-mtrR" type="xs:string"/>
                                                                                </xs:complexType>
                                                                            </xs:element>
                                                                        </xs:sequence>
                                                                        <xs:attribute name="date-tested-utc" type="xs:string"/>
                                                                        <xs:attribute name="rating-expert-system" type="xs:string"/>
                                                                        <xs:attribute name="rating-tester" type="xs:string"/>
                                                                        <xs:attribute name="message-expert-system" type="xs:string"/>
                                                                        <xs:attribute name="requested-test-kV" type="xs:string"/>
                                                                        <xs:attribute name="test-kV" type="xs:string"/>
                                                                        <xs:attribute name="test-circuit" type="xs:string"/>
                                                                        <xs:attribute name="mA" type="xs:string"/>
                                                                        <xs:attribute name="watts" type="xs:string"/>
                                                                        <xs:attribute name="arrester-id" type="xs:string"/>
                                                                        <xs:attribute name="sa-serial-num" type="xs:string"/>
                                                                        <xs:attribute name="circuit-description" type="xs:string"/>
                                                                        <xs:attribute name="SingleM7circuit-description" type="xs:string"/>
                                                                        <xs:attribute name="DualM7circuit-description" type="xs:string"/>
                                                                    </xs:complexType>
                                                                </xs:element>
                                                            </xs:sequence>
                                                        </xs:complexType>
                                                    </xs:element>
			<xs:element type="xs:string" name="hot-collar-test-set" />
			<xs:element type="xs:string" name="insulatingfluid-test-set" />
			<xs:element type="xs:string" name="diagnostic-test-set" />
			<xs:element type="xs:string" name="configurable-powerfactor-test-set" />
			<xs:element type="xs:string" name="turns-ratio-test-set" />
			<xs:element type="xs:string" name="winding-resistance-test-set" />
			<xs:element name="winding-resistance-winding-detail">
				<xs:complexType>
					<xs:sequence></xs:sequence>
					<xs:attribute name="manufacturer" type="xs:string" />
					<xs:attribute name="serial-number" type="xs:string" />
				</xs:complexType>
			</xs:element>
			<xs:element name="m7winding-resistance-tests-winding-1">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="m7winding-resistance-connections">
							<xs:complexType>
								<xs:sequence></xs:sequence>
								<xs:attribute name="conn-1" type="xs:string" />
								<xs:attribute name="conn-2" type="xs:string" />
								<xs:attribute name="conn-3" type="xs:string" />
								<xs:attribute name="conn-4" type="xs:string" />
								<xs:attribute name="conn-5" type="xs:string" />
								<xs:attribute name="conn-6" type="xs:string" />
								<xs:attribute name="circuit-description-1" type="xs:string" />
								<xs:attribute name="circuit-description-2" type="xs:string" />
								<xs:attribute name="circuit-description-3" type="xs:string" />
								<xs:attribute name="rated-volts" type="xs:string" />
							</xs:complexType>
						</xs:element>
						<xs:element type="xs:string" name="m7winding-resistance-test-set" />
					</xs:sequence>
					<xs:attribute name="winding" type="xs:string" />
				</xs:complexType>
			</xs:element>
			<xs:element name="m7winding-resistance-tests-winding-2">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="m7winding-resistance-connections">
							<xs:complexType>
								<xs:sequence></xs:sequence>
								<xs:attribute name="conn-1" type="xs:string" />
								<xs:attribute name="conn-2" type="xs:string" />
								<xs:attribute name="conn-3" type="xs:string" />
								<xs:attribute name="conn-4" type="xs:string" />
								<xs:attribute name="conn-5" type="xs:string" />
								<xs:attribute name="conn-6" type="xs:string" />
								<xs:attribute name="circuit-description-1" type="xs:string" />
								<xs:attribute name="circuit-description-2" type="xs:string" />
								<xs:attribute name="circuit-description-3" type="xs:string" />
								<xs:attribute name="rated-volts" type="xs:string" />
							</xs:complexType>
						</xs:element>
						<xs:element type="xs:string" name="m7winding-resistance-test-set" />
					</xs:sequence>
					<xs:attribute name="winding" type="xs:string" />
				</xs:complexType>
			</xs:element>
			<xs:element name="m7winding-resistance-tests-winding-3">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="m7winding-resistance-connections">
							<xs:complexType>
								<xs:sequence></xs:sequence>
								<xs:attribute name="conn-1" type="xs:string" />
								<xs:attribute name="conn-2" type="xs:string" />
								<xs:attribute name="conn-3" type="xs:string" />
								<xs:attribute name="conn-4" type="xs:string" />
								<xs:attribute name="conn-5" type="xs:string" />
								<xs:attribute name="conn-6" type="xs:string" />
								<xs:attribute name="circuit-description-1" type="xs:string" />
								<xs:attribute name="circuit-description-2" type="xs:string" />
								<xs:attribute name="circuit-description-3" type="xs:string" />
								<xs:attribute name="rated-volts" type="xs:string" />
							</xs:complexType>
						</xs:element>
						<xs:element type="xs:string" name="m7winding-resistance-test-set" />
					</xs:sequence>
					<xs:attribute name="winding" type="xs:string" />
				</xs:complexType>
			</xs:element>
			<xs:element name="demagnetization-test-set">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="demagnetization-connections">
							<xs:complexType>
								<xs:sequence></xs:sequence>
								<xs:attribute name="conn-1" type="xs:string" />
								<xs:attribute name="conn-2" type="xs:string" />
								<xs:attribute name="conn-3" type="xs:string" />
								<xs:attribute name="conn-4" type="xs:string" />
								<xs:attribute name="conn-5" type="xs:string" />
								<xs:attribute name="conn-6" type="xs:string" />
								<xs:attribute name="demag-energize-lead-1" type="xs:string" />
								<xs:attribute name="demag-energize-lead-2" type="xs:string" />
								<xs:attribute name="demag-energize-lead-3" type="xs:string" />
								<xs:attribute name="demag-measure-lead-1" type="xs:string" />
								<xs:attribute name="demag-measure-lead-2" type="xs:string" />
								<xs:attribute name="demag-measure-lead-3" type="xs:string" />
								<xs:attribute name="rated-volts" type="xs:string" />
							</xs:complexType>
						</xs:element>
						<xs:element type="xs:string" name="demagnetization-test-results-set" />
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="dfr-test-set">
				<xs:complexType>
					<xs:sequence></xs:sequence>
					<xs:attribute name="lmwa" type="xs:string" />
				</xs:complexType>
			</xs:element>
			<xs:element type="xs:string" name="vflr-test-set" />
			<xs:element type="xs:string" name="fds-test-set" />
			<xs:element name="manual-data">
				<xs:complexType>
					<xs:sequence>
						<xs:element maxOccurs="unbounded" name="manual-connection-test">
							<xs:complexType>
								<xs:sequence>
									<xs:element name="manual-connection-fields">
										<xs:complexType>
											<xs:sequence></xs:sequence>
											<xs:attribute name="connection" type="xs:string" />
										</xs:complexType>
									</xs:element>
								</xs:sequence>
							</xs:complexType>
						</xs:element>
					</xs:sequence>
					<xs:attribute name="ir-mfr" type="xs:string" />
					<xs:attribute name="ir-sn" type="xs:string" />
				</xs:complexType>
			</xs:element>
			<xs:element name="water-content">
				<xs:complexType>
					<xs:sequence></xs:sequence>
					<xs:attribute name="description" type="xs:string" />
				</xs:complexType>
			</xs:element>
			<xs:element name="tapchangers">
				<xs:complexType>
					<xs:sequence>
						<xs:element maxOccurs="unbounded" name="tapchanger">
							<xs:complexType>
								<xs:sequence></xs:sequence>
								<xs:attribute name="id" type="xs:string" />
								<xs:attribute name="line_id" type="xs:string" />
								<xs:attribute name="position_found" type="xs:string" />
								<xs:attribute name="position_left" type="xs:string" />
							</xs:complexType>
						</xs:element>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element type="xs:string" name="insulating-fluid-oil-quality-set" />
			<xs:element type="xs:string" name="dobledc-test-set" />
			<xs:element type="xs:string" name="dissolved-gas" />
			<xs:element name="turns-ratio-connections">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="ratio-connection-fields">
							<xs:complexType>
								<xs:sequence></xs:sequence>
								<xs:attribute name="conn-1" type="xs:string" />
								<xs:attribute name="conn-2" type="xs:string" />
								<xs:attribute name="conn-3" type="xs:string" />
								<xs:attribute name="conn-4" type="xs:string" />
								<xs:attribute name="conn-5" type="xs:string" />
								<xs:attribute name="conn-6" type="xs:string" />
								<xs:attribute name="conn-7" type="xs:string" />
								<xs:attribute name="conn-8" type="xs:string" />
								<xs:attribute name="conn-9" type="xs:string" />
								<xs:attribute name="conn-10" type="xs:string" />
								<xs:attribute name="conn-11" type="xs:string" />
								<xs:attribute name="conn-12" type="xs:string" />
							</xs:complexType>
						</xs:element>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="turns-ratio-nameplate">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="turns-ratio-nameplate-fields">
							<xs:complexType>
								<xs:sequence></xs:sequence>
								<xs:attribute name="mfr" type="xs:string" />
								<xs:attribute name="serial-num" type="xs:string" />
								<xs:attribute name="rtt-accuracy" type="xs:string" />
							</xs:complexType>
						</xs:element>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element type="xs:string" name="configurable-contact-resistance-test-set" />
			<xs:element name="exciting-current-connections">
				<xs:complexType>
					<xs:sequence></xs:sequence>
					<xs:attribute name="conn-1" type="xs:string" />
					<xs:attribute name="conn-2" type="xs:string" />
					<xs:attribute name="conn-3" type="xs:string" />
					<xs:attribute name="conn-4" type="xs:string" />
					<xs:attribute name="conn-5" type="xs:string" />
					<xs:attribute name="conn-6" type="xs:string" />
					<xs:attribute name="circuit-description" type="xs:string" />
					<xs:attribute name="m4-circuit-description1" type="xs:string" />
					<xs:attribute name="m4-circuit-description2" type="xs:string" />
					<xs:attribute name="m4-circuit-description3" type="xs:string" />
					<xs:attribute name="m7single-circuit-description1" type="xs:string" />
					<xs:attribute name="m7single-circuit-description2" type="xs:string" />
					<xs:attribute name="m7single-circuit-description3" type="xs:string" />
					<xs:attribute name="m7dual-circuit-description1" type="xs:string" />
					<xs:attribute name="m7dual-circuit-description2" type="xs:string" />
					<xs:attribute name="m7dual-circuit-description3" type="xs:string" />
					<xs:attribute name="rated-volts" type="xs:string" />
				</xs:complexType>
			</xs:element>
			<xs:element type="xs:string" name="doble-ratio-test-set" />
			<xs:element name="doble-ratio-cap-windings">
				<xs:complexType>
					<xs:sequence>
						<xs:element type="xs:string" name="iwc-data" />
						<xs:element name="doble-ratio-cap-winding-fields">
							<xs:complexType>
								<xs:sequence></xs:sequence>
								<xs:attribute name="rtt-accuracy" type="xs:string" />
								<xs:attribute name="date-tested-utc" type="xs:string" />
							</xs:complexType>
						</xs:element>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="doble-ratio-connections">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="ratio-connection-fields">
							<xs:complexType>
								<xs:sequence></xs:sequence>
								<xs:attribute name="conn-1" type="xs:string" />
								<xs:attribute name="conn-2" type="xs:string" />
								<xs:attribute name="conn-3" type="xs:string" />
								<xs:attribute name="conn-4" type="xs:string" />
								<xs:attribute name="conn-5" type="xs:string" />
								<xs:attribute name="conn-6" type="xs:string" />
								<xs:attribute name="conn-7" type="xs:string" />
								<xs:attribute name="conn-8" type="xs:string" />
								<xs:attribute name="conn-9" type="xs:string" />
								<xs:attribute name="conn-10" type="xs:string" />
								<xs:attribute name="conn-11" type="xs:string" />
								<xs:attribute name="conn-12" type="xs:string" />
							</xs:complexType>
						</xs:element>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			 <xs:element name="lvttratio-test-set">
                                                        <xs:complexType>
                                                            <xs:sequence>
                                                                <xs:element maxOccurs="unbounded" name="lvttratio-test">
                                                                    <xs:complexType>
                                                                        <xs:sequence>
                                                                            <xs:element name="ratio-test-fields">
                                                                                <xs:complexType>
                                                                                    <xs:sequence>
                                                                                        <xs:element type="xs:string" name="iwc-data"/>
                                                                                        <xs:element name="tc-references">
                                                                                            <xs:complexType>
                                                                                                <xs:sequence>
                                                                                                    <xs:element name="tc-reference-set">
                                                                                                        <xs:complexType>
                                                                                                            <xs:sequence>
                                                                                                                <xs:element name="tc-reference">
                                                                                                                    <xs:complexType>
                                                                                                                        <xs:sequence></xs:sequence>
                                                                                                                        <xs:attribute name="tapchanger-id" type="xs:string"/>
                                                                                                                        <xs:attribute name="tapchanger-position" type="xs:string"/>
                                                                                                                        <xs:attribute name="tapchanger-type" type="xs:string"/>
                                                                                                                    </xs:complexType>
                                                                                                                </xs:element>
                                                                                                            </xs:sequence>
                                                                                                        </xs:complexType>
                                                                                                    </xs:element>
                                                                                                </xs:sequence>
                                                                                            </xs:complexType>
                                                                                        </xs:element>
                                                                                    </xs:sequence>
                                                                                    <xs:attribute name="date-tested-utc" type="xs:string"/>
                                                                                    <xs:attribute name="rating-expert-system" type="xs:string"/>
                                                                                    <xs:attribute name="rating-tester" type="xs:string"/>
                                                                                    <xs:attribute name="message-expert-system" type="xs:string"/>
                                                                                    <xs:attribute name="requested-test-kV" type="xs:string"/>
                                                                                    <xs:attribute name="test-circuit" type="xs:string"/>
                                                                                    <xs:attribute name="vanguard-test-parameters" type="xs:string"/>
                                                                                    <xs:attribute name="hv-volt" type="xs:string"/>
                                                                                    <xs:attribute name="lv-volt" type="xs:string"/>
                                                                                    <xs:attribute name="benchmark-ratio" type="xs:string"/>
                                                                                    <xs:attribute name="min-limit" type="xs:string"/>
                                                                                    <xs:attribute name="max-limit" type="xs:string"/>
                                                                                    <xs:attribute name="benchmark-ratio-triple-phase" type="xs:string"/>
                                                                                    <xs:attribute name="min-limit-triple-phase" type="xs:string"/>
                                                                                    <xs:attribute name="max-limit-triple-phase" type="xs:string"/>
                                                                                    <xs:attribute name="hv-measuredkv-1" type="xs:string"/>
                                                                                    <xs:attribute name="lv-measuredkv-1" type="xs:string"/>
                                                                                    <xs:attribute name="ratio-1" type="xs:string"/>
                                                                                    <xs:attribute name="deviation-1" type="xs:string"/>
                                                                                    <xs:attribute name="angle-1" type="xs:string"/>
                                                                                    <xs:attribute name="hv-measuredkv-2" type="xs:string"/>
                                                                                    <xs:attribute name="lv-measuredkv-2" type="xs:string"/>
                                                                                    <xs:attribute name="ratio-2" type="xs:string"/>
                                                                                    <xs:attribute name="deviation-2" type="xs:string"/>
                                                                                    <xs:attribute name="angle-2" type="xs:string"/>
                                                                                    <xs:attribute name="hv-measuredkv-3" type="xs:string"/>
                                                                                    <xs:attribute name="lv-measuredkv-3" type="xs:string"/>
                                                                                    <xs:attribute name="ratio-3" type="xs:string"/>
                                                                                    <xs:attribute name="deviation-3" type="xs:string"/>
                                                                                    <xs:attribute name="angle-3" type="xs:string"/>
                                                                                    <xs:attribute name="detc-id" type="xs:string"/>
                                                                                    <xs:attribute name="ltc-id" type="xs:string"/>
                                                                                    <xs:attribute name="tri-phase-ratio-1" type="xs:string"/>
                                                                                    <xs:attribute name="tri-phase-deviation-1" type="xs:string"/>
                                                                                    <xs:attribute name="tri-phase-angle-1" type="xs:string"/>
                                                                                    <xs:attribute name="tri-phase-ratio-2" type="xs:string"/>
                                                                                    <xs:attribute name="tri-phase-deviation-2" type="xs:string"/>
                                                                                    <xs:attribute name="tri-phase-angle-2" type="xs:string"/>
                                                                                    <xs:attribute name="tri-phase-ratio-3" type="xs:string"/>
                                                                                    <xs:attribute name="tri-phase-deviation-3" type="xs:string"/>
                                                                                    <xs:attribute name="tri-phase-angle-3" type="xs:string"/>
                                                                                    <xs:attribute name="tri-phase-rating-expert-system" type="xs:string"/>
                                                                                    <xs:attribute name="tri-phase-rating-tester" type="xs:string"/>
                                                                                    <xs:attribute name="tri-phase-message-expert-system" type="xs:string"/>
                                                                                </xs:complexType>
                                                                            </xs:element>
                                                                            <xs:element name="cablestates">
                                                                                <xs:complexType>
                                                                                    <xs:sequence></xs:sequence>
                                                                                    <xs:attribute name="HV1" type="xs:string"/>
                                                                                    <xs:attribute name="HV2" type="xs:string"/>
                                                                                    <xs:attribute name="LV1" type="xs:string"/>
                                                                                    <xs:attribute name="LV2" type="xs:string"/>
                                                                                    <xs:attribute name="LV3" type="xs:string"/>
                                                                                    <xs:attribute name="LVN" type="xs:string"/>
                                                                                    <xs:attribute name="M1" type="xs:string"/>
                                                                                    <xs:attribute name="M2" type="xs:string"/>
                                                                                    <xs:attribute name="M3" type="xs:string"/>
                                                                                    <xs:attribute name="MG" type="xs:string"/>
                                                                                </xs:complexType>
                                                                            </xs:element>
                                                                        </xs:sequence>
                                                                        <xs:attribute name="label" type="xs:string"/>
                                                                    </xs:complexType>
                                                                </xs:element>
                                                            </xs:sequence>
                                                        </xs:complexType>
                                                    </xs:element>
			<xs:element name="lvttratio-connections">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="ratio-connection-fields">
							<xs:complexType>
								<xs:sequence></xs:sequence>
								<xs:attribute name="conn-1" type="xs:string" />
								<xs:attribute name="conn-2" type="xs:string" />
								<xs:attribute name="conn-3" type="xs:string" />
								<xs:attribute name="conn-4" type="xs:string" />
								<xs:attribute name="conn-5" type="xs:string" />
								<xs:attribute name="conn-6" type="xs:string" />
								<xs:attribute name="conn-7" type="xs:string" />
								<xs:attribute name="conn-8" type="xs:string" />
								<xs:attribute name="conn-9" type="xs:string" />
								<xs:attribute name="conn-10" type="xs:string" />
								<xs:attribute name="conn-11" type="xs:string" />
								<xs:attribute name="conn-12" type="xs:string" />
							</xs:complexType>
						</xs:element>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="transformer-layout">
				<xs:complexType>
					<xs:sequence></xs:sequence>
					<xs:attribute name="ltc-1" type="xs:string" />
					<xs:attribute name="ltc-2" type="xs:string" />
					<xs:attribute name="ltc-3" type="xs:string" />
					<xs:attribute name="ltc-4" type="xs:string" />
					<xs:attribute name="ltc-5" type="xs:string" />
					<xs:attribute name="ltc-6" type="xs:string" />
					<xs:attribute name="ltc-7" type="xs:string" />
					<xs:attribute name="ltc-8" type="xs:string" />
					<xs:attribute name="ltc-9" type="xs:string" />
					<xs:attribute name="ltc-10" type="xs:string" />
					<xs:attribute name="ltc-11" type="xs:string" />
					<xs:attribute name="ltc-12" type="xs:string" />
					<xs:attribute name="ltc-13" type="xs:string" />
					<xs:attribute name="ltc-14" type="xs:string" />
					<xs:attribute name="ltc-15" type="xs:string" />
					<xs:attribute name="ltc-16" type="xs:string" />
					<xs:attribute name="ltc_pos" type="xs:string" />
					<xs:attribute name="detc-pos" type="xs:string" />
					<xs:attribute name="et-core" type="xs:string" />
					<xs:attribute name="et-alt" type="xs:string" />
				</xs:complexType>
			</xs:element>
			<xs:element type="xs:string" name="gas-space" />
			<xs:element type="xs:string" name="leakage-reactance-3phase-test-set" />
			<xs:element type="xs:string" name="leakage-reactance-per-phase-hi-test-set" />
			<xs:element type="xs:string" name="leakage-reactance-per-phase-lo-test-set" />
			<xs:element type="xs:string" name="leakage-reactance-single-phase-test-set" />
			<xs:element name="overall-test-set">
				<xs:complexType>
					<xs:sequence>
						<xs:element maxOccurs="unbounded" name="overall-test">
							<xs:complexType>
								<xs:sequence>
									<xs:element name="iwc-data">
										<xs:complexType>
											<xs:sequence></xs:sequence>
											<xs:attribute name="m-mtrL" type="xs:string" />
											<xs:attribute name="w-mtrL" type="xs:string" />
											<xs:attribute name="p-mtrL" type="xs:string" />
											<xs:attribute name="m-mtrR" type="xs:string" />
											<xs:attribute name="w-mtrR" type="xs:string" />
											<xs:attribute name="p-mtrR" type="xs:string" />
										</xs:complexType>
									</xs:element>
								</xs:sequence>
								<xs:attribute name="date-tested-utc" type="xs:string" />
								<xs:attribute name="rating-expert-system" type="xs:string" />
								<xs:attribute name="rating-tester" type="xs:string" />
								<xs:attribute name="message-expert-system" type="xs:string" />
								<xs:attribute name="requested-test-kV" type="xs:string" />
								<xs:attribute name="test-kV" type="xs:string" />
								<xs:attribute name="test-circuit" type="xs:string" />
								<xs:attribute name="mA" type="xs:string" />
								<xs:attribute name="watts" type="xs:string" />
								<xs:attribute name="measured-cap" type="xs:string" />
								<xs:attribute name="pfm" type="xs:string" />
								<xs:attribute name="pfc" type="xs:string" />
								<xs:attribute name="correction-factor" type="xs:string" />
								<xs:attribute name="line-id" type="xs:string" />
								<xs:attribute name="insulation" type="xs:string" />
							</xs:complexType>
						</xs:element>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element type="xs:string" name="doble-ratio-test-setHT" />
			<xs:element name="doble-ratio-cap-windingsHT">
				<xs:complexType>
					<xs:sequence>
						<xs:element type="xs:string" name="iwc-data" />
						<xs:element name="doble-ratio-cap-winding-fields">
							<xs:complexType>
								<xs:sequence></xs:sequence>
								<xs:attribute name="rtt-accuracy" type="xs:string" />
								<xs:attribute name="date-tested-utc" type="xs:string" />
							</xs:complexType>
						</xs:element>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="doble-ratio-connectionsHT">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="ratio-connection-fields">
							<xs:complexType>
								<xs:sequence></xs:sequence>
								<xs:attribute name="conn-1" type="xs:string" />
								<xs:attribute name="conn-2" type="xs:string" />
								<xs:attribute name="conn-3" type="xs:string" />
								<xs:attribute name="conn-4" type="xs:string" />
								<xs:attribute name="conn-5" type="xs:string" />
								<xs:attribute name="conn-6" type="xs:string" />
								<xs:attribute name="conn-7" type="xs:string" />
								<xs:attribute name="conn-8" type="xs:string" />
								<xs:attribute name="conn-9" type="xs:string" />
								<xs:attribute name="conn-10" type="xs:string" />
								<xs:attribute name="conn-11" type="xs:string" />
								<xs:attribute name="conn-12" type="xs:string" />
							</xs:complexType>
						</xs:element>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element type="xs:string" name="doble-ratio-test-setLT" />
			<xs:element name="doble-ratio-cap-windingsLT">
				<xs:complexType>
					<xs:sequence>
						<xs:element type="xs:string" name="iwc-data" />
						<xs:element name="doble-ratio-cap-winding-fields">
							<xs:complexType>
								<xs:sequence></xs:sequence>
								<xs:attribute name="rtt-accuracy" type="xs:string" />
								<xs:attribute name="date-tested-utc" type="xs:string" />
							</xs:complexType>
						</xs:element>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="doble-ratio-connectionsLT">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="ratio-connection-fields">
							<xs:complexType>
								<xs:sequence></xs:sequence>
								<xs:attribute name="conn-1" type="xs:string" />
								<xs:attribute name="conn-2" type="xs:string" />
								<xs:attribute name="conn-3" type="xs:string" />
								<xs:attribute name="conn-4" type="xs:string" />
								<xs:attribute name="conn-5" type="xs:string" />
								<xs:attribute name="conn-6" type="xs:string" />
								<xs:attribute name="conn-7" type="xs:string" />
								<xs:attribute name="conn-8" type="xs:string" />
								<xs:attribute name="conn-9" type="xs:string" />
								<xs:attribute name="conn-10" type="xs:string" />
								<xs:attribute name="conn-11" type="xs:string" />
								<xs:attribute name="conn-12" type="xs:string" />
							</xs:complexType>
						</xs:element>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element type="xs:string" name="lvttratio-test-setHT" />
			<xs:element name="lvttratio-connectionsHT">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="ratio-connection-fields">
							<xs:complexType>
								<xs:sequence></xs:sequence>
								<xs:attribute name="conn-1" type="xs:string" />
								<xs:attribute name="conn-2" type="xs:string" />
								<xs:attribute name="conn-3" type="xs:string" />
								<xs:attribute name="conn-4" type="xs:string" />
								<xs:attribute name="conn-5" type="xs:string" />
								<xs:attribute name="conn-6" type="xs:string" />
								<xs:attribute name="conn-7" type="xs:string" />
								<xs:attribute name="conn-8" type="xs:string" />
								<xs:attribute name="conn-9" type="xs:string" />
								<xs:attribute name="conn-10" type="xs:string" />
								<xs:attribute name="conn-11" type="xs:string" />
								<xs:attribute name="conn-12" type="xs:string" />
							</xs:complexType>
						</xs:element>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element type="xs:string" name="lvttratio-test-setLT" />
			<xs:element name="lvttratio-connectionsLT">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="ratio-connection-fields">
							<xs:complexType>
								<xs:sequence></xs:sequence>
								<xs:attribute name="conn-1" type="xs:string" />
								<xs:attribute name="conn-2" type="xs:string" />
								<xs:attribute name="conn-3" type="xs:string" />
								<xs:attribute name="conn-4" type="xs:string" />
								<xs:attribute name="conn-5" type="xs:string" />
								<xs:attribute name="conn-6" type="xs:string" />
								<xs:attribute name="conn-7" type="xs:string" />
								<xs:attribute name="conn-8" type="xs:string" />
								<xs:attribute name="conn-9" type="xs:string" />
								<xs:attribute name="conn-10" type="xs:string" />
								<xs:attribute name="conn-11" type="xs:string" />
								<xs:attribute name="conn-12" type="xs:string" />
							</xs:complexType>
						</xs:element>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="turns-ratio-nameplateHT">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="turns-ratio-nameplate-fields">
							<xs:complexType>
								<xs:sequence></xs:sequence>
								<xs:attribute name="mfr" type="xs:string" />
								<xs:attribute name="serial-num" type="xs:string" />
								<xs:attribute name="rtt-accuracy" type="xs:string" />
							</xs:complexType>
						</xs:element>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="turns-ratio-connectionsHT">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="ratio-connection-fields">
							<xs:complexType>
								<xs:sequence></xs:sequence>
								<xs:attribute name="conn-1" type="xs:string" />
								<xs:attribute name="conn-2" type="xs:string" />
								<xs:attribute name="conn-3" type="xs:string" />
								<xs:attribute name="conn-4" type="xs:string" />
								<xs:attribute name="conn-5" type="xs:string" />
								<xs:attribute name="conn-6" type="xs:string" />
								<xs:attribute name="conn-7" type="xs:string" />
								<xs:attribute name="conn-8" type="xs:string" />
								<xs:attribute name="conn-9" type="xs:string" />
								<xs:attribute name="conn-10" type="xs:string" />
								<xs:attribute name="conn-11" type="xs:string" />
								<xs:attribute name="conn-12" type="xs:string" />
							</xs:complexType>
						</xs:element>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element type="xs:string" name="turns-ratio-test-setHT" />
			<xs:element name="turns-ratio-nameplateLT">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="turns-ratio-nameplate-fields">
							<xs:complexType>
								<xs:sequence></xs:sequence>
								<xs:attribute name="mfr" type="xs:string" />
								<xs:attribute name="serial-num" type="xs:string" />
								<xs:attribute name="rtt-accuracy" type="xs:string" />
							</xs:complexType>
						</xs:element>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="turns-ratio-connectionsLT">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="ratio-connection-fields">
							<xs:complexType>
								<xs:sequence></xs:sequence>
								<xs:attribute name="conn-1" type="xs:string" />
								<xs:attribute name="conn-2" type="xs:string" />
								<xs:attribute name="conn-3" type="xs:string" />
								<xs:attribute name="conn-4" type="xs:string" />
								<xs:attribute name="conn-5" type="xs:string" />
								<xs:attribute name="conn-6" type="xs:string" />
								<xs:attribute name="conn-7" type="xs:string" />
								<xs:attribute name="conn-8" type="xs:string" />
								<xs:attribute name="conn-9" type="xs:string" />
								<xs:attribute name="conn-10" type="xs:string" />
								<xs:attribute name="conn-11" type="xs:string" />
								<xs:attribute name="conn-12" type="xs:string" />
							</xs:complexType>
						</xs:element>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element type="xs:string" name="turns-ratio-test-setLT" />
			<xs:element type="xs:string" name="leakage-reactance-3phase-test-setHT" />
			<xs:element type="xs:string" name="leakage-reactance-per-phase-hi-test-setHT" />
			<xs:element type="xs:string" name="leakage-reactance-per-phase-lo-test-setHT" />
			<xs:element type="xs:string" name="leakage-reactance-single-phase-test-setHT" />
			<xs:element type="xs:string" name="leakage-reactance-3phase-test-setLT" />
			<xs:element type="xs:string" name="leakage-reactance-per-phase-hi-test-setLT" />
			<xs:element type="xs:string" name="leakage-reactance-per-phase-lo-test-setLT" />
			<xs:element type="xs:string" name="leakage-reactance-single-phase-test-setLT" />
			<xs:element type="xs:string" name="vflr-test-setHT" />
			<xs:element type="xs:string" name="vflr-test-setLT" />
		</xs:sequence>
	</xs:complexType>

	<xs:element name="DataModel-R2">
		<xs:complexType>
			<xs:sequence>
				<xs:element type="xs:string" name="external-system-properties" />
				<xs:element type="xs:string" name="ApparatusType" />
				<xs:element type="xs:string" name="Apparatus" />

				<xs:choice>
					<xs:element name="autotransformer-nameplate" type="transformer-template-type" />
					<xs:element name="two-winding-transformer-nameplate" type="transformer-template-type" />
					<xs:element name="three-winding-transformer-nameplate" type="transformer-template-type" />
				</xs:choice>

				<xs:element name="dta-sessions">
					<xs:complexType>
						<xs:sequence>
							<xs:element maxOccurs="unbounded" name="dta-session">
								<xs:complexType>

									<xs:choice>
										<xs:element name="autotransformer-with-tertiary" type="transformer-type" />
										<xs:element name="two-winding-transformer" type="transformer-type" />
										<xs:element name="three-winding-transformer" type="transformer-type" />
										<xs:element name="autotransformer-without-tertiary" type="transformer-type" />
									</xs:choice>
									<xs:attribute name="current-timezone" type="xs:string" />
									<xs:attribute name="utc-offset-minutes" type="xs:string" />
									<xs:attribute name="location" type="xs:string" />
									<xs:attribute name="division" type="xs:string" />
									<xs:attribute name="company" type="xs:string" />
									<xs:attribute name="cct-designation" type="xs:string" />
									<xs:attribute name="session-note" type="xs:string" />
									<xs:attribute name="session-created-date-utc" type="xs:string" />
									<xs:attribute name="first-test-date-utc" type="xs:string" />
									<xs:attribute name="last-test-date-utc" type="xs:string" />
								</xs:complexType>
							</xs:element>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
				<xs:element type="xs:string" name="copyright-notice" />
			</xs:sequence>
			<xs:attribute name="apparatus-note" type="xs:string" />
			<xs:attribute name="created-by-version" type="xs:string" />
			<xs:attribute name="modified-by-version" type="xs:string" />
			<xs:attribute name="xml-version" type="xs:string" />
			<xs:attribute name="test-row-notes" type="xs:string" />
		</xs:complexType>
	</xs:element>
</xs:schema>